{% extends "base.html" %}
{% block head %}
    {{ super() }}
    {% block title %}Home{% endblock %}
{% endblock %}
{% block body %}
    {{ super() }}
    <div style="padding-top: 3%; padding-bottom: 0.5%" id="buttons" class="d-flex justify-content-center">
    </div>

    <div class="row" id="links">
        <div class="column" id="column0">
        </div>
        <div class="column" id="column1">
        </div>
        <div class="column" id="column2">
        </div>
        <div class="column" id="column3">
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        const images = {{ images | tojson }};

        // column selectors
        const column_map = {
            0: $('#column0'),
            1: $('#column1'),
            2: $('#column2'),
            3: $('#column3')
        };

        for (column of Object.keys(column_map)) {
            column_map[column].empty();
        }

        // put each of the images into a column
        $.each(images, function (index, photo) {
            let index_mod = index % 4;
            let new_image = $("<div>").attr('class', 'grid-item').append(
                $('<a/>').append($('<img width="100%;" loading="lazy">').prop('src', photo.replace(".jpg", "_thumb.jpg").replace(".png", "_thumb.png")))
                        .prop('href', photo)
                    .attr('class', 'lightbox-image')
                    .attr('data-lightbox', photo.id));
            new_image.appendTo(column_map[index_mod]);
        });


        const lightbox = $('.lightbox-image').simpleLightbox(
            {'animationSpeed': 100,
                'animationSlide': false }
        );

    </script>
{% endblock %}