{% extends "base.html" %}
{% block head %}
    {{ super() }}
    {% block title %}{{ name.capitalize()  }}{% endblock %}
{% endblock %}
{% block body %}
    {{ super() }}
    <section style="padding-top: 60px;" id="motion">
        <h1 class="text-center marker-text">Motion</h1>
        <div class="row">
        </div>
        <br>
        <div class="container text-center">
            <div style="padding:50% 0 0 0;position:relative;">
                <iframe src="https://player.vimeo.com/video/183714476"
                        style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0"
                        webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            <script src="https://player.vimeo.com/api/player.js"></script>
            <p>
                <a href="https://vimeo.com/183714476">Cinematography Reel 2016</a> from
                <a href="https://vimeo.com/mnowakowski">Michael Nowakowski</a> on
                <a href="https://vimeo.com">Vimeo</a>.</p>
        </div>


        <section class="no-padding" id="cinema">
            <div class="container text-center">
                <br>
                <br>
                <h3 class="marker-text">Things that you can watch</h3>
                <p>Buy the ticket, take the ride.</p>
                <br>
                <div class="row">
                    <div class="col-lg-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/zH-LB1xyKpg" frameborder="0"
                                allowfullscreen></iframe>
                        <p>
                            <b>"Baby Your Mind is a Home" - Jacob Kogan</b>
                            <br> Music Video. Co-Director | Cinematographer | Co-Editor | Visual Effects | Colorist.
                            <br>
                        </p>
                    </div>
                    <div class="col-lg-6">
                        <iframe src="https://player.vimeo.com/video/151678965" width="560" height="315" frameborder="0"
                                webkitallowfullscreen mozallowfullscreen
                                allowfullscreen></iframe>
                        <p>
                            <b>Feels Like We Only Go Backwards (2014)</b>
                            <br> Experimental work: Timelapse animation of plants, set to Tame Impala's "Feels Like We
                            Only
                            Go
                            Backwards."
                            <br>
                        </p>
                    </div>

                    <div class="col-lg-6">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/qtGOaeh7p2c" frameborder="0"
                                allowfullscreen></iframe>
                        <p>
                            <b>Searching the Shadows (2013)</b>
                            <br> Double-exposure on 16mm film. 5m.
                            <br>
                        </p>
                    </div>

                </div>
            </div>


            <div style="padding-top: 5%;" class="container-fluid">
                <div class="container text-center">
                    <h3 class="marker-text">Things You Can't Watch</h3>
                    <p>Very Important Shorts™ that went to festivals.</p>
                </div>

            </div>
            <div class="container text-center">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <img class="card-img-top" src="img/motion/solofski.jpg" alt="">
                            <h4>Jan Solofski: 1947-2016</h4>
                            <b>Writer | Director</b>
                            <br> Spoilers: Jan Dies.
                            <br>
                            <br>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <img class="card-img-top" src="img/motion/fighter_kites_small.jpg" alt="">
                            <h4>Fighter Kites</h4>
                            <b>Cinematographer | Colorist</b>
                            <br> A young woman struggles to maintain her long-distance relationship with her boyfriend
                            in
                            India.
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="col-sm-6">
                        <div class="card">
                            <img class="card-img-top" src="img/motion/blood_bags.jpg" alt="">
                            <h4>Blood Bags</h4>
                            <b>Cinematographer | Editor</b>
                            A girl becomes addicted to giving blood.
                            <br>
                            <br>
                            <br>

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <img class="card-img-top" src="img/motion/insom.jpg" alt="">
                            <h4>The Insomnambulist</h4>
                            <b>Writer | Cinematographer | Editor </b>
                            A friendless boy meets an old Man who can see people’s dreams.
                            <br>
                            <br>
                            <br>

                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section style="padding-top: 5%;" id="video">
            <div class="container-fluid">
                <div class="container text-center">
                    <h2 class="text-center marker-text">Video/Promotional</h2>
                    <p>Things that run at 30fps instead of 24.</p>
                </div>

                <div class="row">
                    <div class="col-lg-6 text-center">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/lwL0x9enlps" frameborder="0"
                                allowfullscreen></iframe>
                        <p class="text-center">
                            <b>YouTube Ad for TRAC</b>
                            <br> Created for Chicago-based race timing startup
                            <a href="http://tracchicago.com">TRAC</a>
                            <br>
                        </p>
                    </div>

                    <div class="col-lg-6 text-center">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/euXyRpxY9Yk" frameborder="0"
                                allowfullscreen></iframe>
                        <p>
                            <b>Drowsy Chaperone Promo Video (2016)</b>
                            <br> Promo video for Jewish Theater Ensemble's The Drowsy Chaperone (2016).
                            <br>
                        </p>
                    </div>

                    <div class="col-lg-6 text-center">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/CHA7hqFMd-E" frameborder="0"
                                allowfullscreen></iframe>
                        <p>
                            <b>TOMMY Promotional Video (2015)</b>
                            <br> Promotional video for Arts Alliance's production of The Who's TOMMY (2015).
                            <br>
                        </p>
                    </div>
                    <div class="col-lg-6 text-center">
                        <iframe src="https://player.vimeo.com/video/117298585" width="560" height="315" frameborder="0"
                                webkitallowfullscreen mozallowfullscreen
                                allowfullscreen></iframe>
                        <p>
                            <b>TITANIC Promo (2015)</b>
                            <br> Trailer for the Northwestern Dolphin Show, Titanic (2015), the largest student-produced
                            musical
                            in America.
                            <br>
                    </div>

                    <div class="col-lg-6 text-center">
                        <iframe src="https://player.vimeo.com/video/117602035" width="560" height="315" frameborder="0"
                                webkitallowfullscreen mozallowfullscreen
                                allowfullscreen></iframe>
                        <p>
                            <b>TITANIC Promo (2015)</b>
                            <br> Making of the Northwestern Dolphin Show, Titanic (2015), the largest student-produced
                            musical
                            in America.
                            <br>
                    </div>


                    <div class="col-lg-6 text-center">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/r_7o0Oetk5s" frameborder="0"
                                allowfullscreen></iframe>
                        <p>
                            <b>Animal Style Promo (2014)</b>
                            <br> A promotional video for the student-produced play Animal Style. Features imagery from
                            transitions
                            that were projected throughout the show. Role: Cinematography/Editing.
                            <br>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}



