{% extends "base.html" %}
{% block head %}
    {{ super() }}
    {% block title %}{{ name.capitalize() }}{% endblock %}

    <style>
        .row {
            display: -ms-flexbox; /* IE10 */
            display: flex;
            -ms-flex-wrap: wrap; /* IE10 */
            flex-wrap: wrap;
            padding: 0 4px;
            height: 400px;
            overflow: scroll;
            border: 1px solid rgba(0,0,0,.125);
        }

    </style>
{% endblock %}
{% block body %}
    {{ super() }}

    <section style="padding-top: 60px;" id="projectiondesign">
        <div class="container text-center">
            <br>
            <br>
            <img src="img/theater/cow.jpg" class="img-responsive" style="width: 100%;">
        </div>

        <h1 class="marker-text text-center">Projection Design</h1>
        <p class="text-center">Film and theater collide.</p>


        <div class="container text-center">
                    <div class="">
                        <div class="row" id="Spamalot">
                            <div class="column" id="column0">
                            </div>
                            <div class="column" id="column1">
                            </div>
                            <div class="column" id="column2">
                            </div>
                            <div class="column" id="column3">
                            </div>
                        </div>
                        <p>
                        <h2>Spamalot</h2>
                        Visuals for the show included cutout animations in the style of Terry Gilliam, cutout-animated
                        backdrops, and illustrations manipulated in real-time and live-mixed for the show.
                        <br>
                        <br> Prod. Janie Dickerson / Dir. Christopher Anselmo
                        <br>
                        <br>
                        <br>
                        </p>
                    </div>

                    <div class="">
                        <div class="row" id="American Idiot">
                            <div class="column" id="column0">
                            </div>
                            <div class="column" id="column1">
                            </div>
                            <div class="column" id="column2">
                            </div>
                            <div class="column" id="column3">
                            </div>
                        </div>
                        <p>
                        <h2>American Idiot</h2>
                        Collaborated on the video design of several elements of Northwestern University Theater Department's
                        mainstage production
                        of Green Day's American Idiot. I helped shoot, edit, and color three video sequences for the
                        show – a big box store commercial, a faux tourism video, and an introductory sequence for the
                        character Favorite Son.
                        <br>
                        <br> Dir. Lili-Anne Brown / Proj. Design Michael Stanfill
                        </p>
                    </div>

                    <div class="">
                        <div class="row" id="Tommy">
                            <div class="column" id="column0">
                            </div>
                            <div class="column" id="column1">
                            </div>
                            <div class="column" id="column2">
                            </div>
                            <div class="column" id="column3">
                            </div>
                        </div>
                        <p>
                        <h2>Tommy (Spring 2015)</h2>
                        10 independently-mapped screens run via Resolume Arena. Powered by a 10K Panasonic projector and a
                        short-throw lens. Live-mixed visual performance, featuring footage shot for the play, as well as a mix of After-Effects generated
                        images and archival footage.
                        <a href="https://www.youtube.com/watch?v=JvdS3K1lI8A">Watch an excerpt from "Pinball Wizard"</a>
                        <br>
                        <br> Prod. Claire Huntington / Dir. Hannah Fisher
                        <br>(Photos by Justin Barbin)
                        </p>
                    </div>
                    <div class="">
                        <div class="row" id="Animal Style">
                            <div class="column" id="column0">
                            </div>
                            <div class="column" id="column1">
                            </div>
                            <div class="column" id="column2">
                            </div>
                            <div class="column" id="column3">
                            </div>
                        </div>
                        <p>
                        <h2>Animal Style
                        </h2>
                        We turned the back wall of a motel room set into a giant screen, which was used for transitions that
                        illustrated each character's
                        mental state. 5K short-throw Mitsubishi projector. Cued in Resolume Arena. Visuals created in
                        collaboration with Jack Foster and Alex Waldman.
                        <br>
                        <br> Prod. Grace Kennedy / Dir. Isabella Mehiel
                        <br>
                        <br>
                        <br>
                        <br>
                        </p>
                    </div>
                    <div class="">
                        <div class="row" id="Bug">
                            <div class="column" id="column0">
                            </div>
                            <div class="column" id="column1">
                            </div>
                            <div class="column" id="column2">
                            </div>
                            <div class="column" id="column3">
                            </div>
                        </div>
                        <p>
                        <h2>Bug
                        </h2>
                        2 TVs powered by Resolume Arena. One TV represented a motel room window, while the other appears as
                        a painting over a motel
                        room bed. The major visual components were animated backdrops for the window, (which grew more
                        unsettling as the production progressed), pre-recorded video cues for different parts of the
                        show, and a processed live-video stream from a camera on set for the end of the show.
                        <br>
                        <br> Prod. Brandon Nadig / Dir. Aaron Simon Gross
                        </p>
                    </div>
                    <div class="">
                        <div class="row" id="Hair">
                            <div class="column" id="column0">
                            </div>
                            <div class="column" id="column1">
                            </div>
                            <div class="column" id="column2">
                            </div>
                            <div class="column" id="column3">
                            </div>
                        </div>
                        <p>
                        <h2>HAIR
                        </h2>
                        Six cast-off standard-definition televisions were wired into the set to create a junkheap look.
                        Televisions were operated via Resolume Arena, and visuals were live-mixed, making use of both original visual designs and
                        60s-era footage. My first projection/visual design!
                        <br>
                        <br> Prod. Brandon Nadig and Aurora Real De Asua / Dir. Anjali Nath
                        <br>
                        <br>
                        <br>
                        </p>
                    </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block scripts %}
    {{ super() }}

    <script>
        const projection_design_config = {{ projection_design_config | tojson }};


        for (let config_name of Object.keys(projection_design_config)) {
            console.log(config_name);

            let column_map = document.getElementById(config_name).children;
            let images = projection_design_config[config_name].images;

            // put each of the images into a column
            $.each(images, function (index, photo) {
                let index_mod = index % 4;
                let new_image = $("<div>").attr('class', 'grid-item').append(
                    $('<a/>').append($('<img width="100%;" loading="lazy">').prop('src', photo.replace(".jpg", "_thumb.jpg").replace(".png", "_thumb.png")))
                            .prop('href', photo)
                        .attr('class', 'lightbox-image')
                        .attr('data-lightbox', config_name));
                new_image.appendTo(column_map[index_mod]);
            });


            const lightbox = $('.lightbox-image').simpleLightbox(
                {'animationSpeed': 100,
                    'animationSlide': false }
            );
        }



    </script>

{% endblock %}