{% extends "base.html" %}
{% block head %}
    {{ super() }}
    {% block title %}{{ name.capitalize()  }}{% endblock %}
{% endblock %}
{% block body %}
    {{ super() }}


    <section style="padding-top: 60px;" id="software">
        <aside class="bg-black">
            <div class="container">
                <h1 class="marker-text text-center">Software</h1>

                <div class="call-to-action">
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="img/style_2.jpg" width="100%" alt="">
                        </div>
                        <div class="col-sm-6">
                            <img src="img/still_there_orig.jpg" width="100%" alt="">
                        </div>
                    </div>
                    <img src="img/still_there_1.jpg" width="100%" alt="">
                    <h5 class="text-center">Visuals for Still There (2016), generated via
                        <a href="https://github.com/yusuketomoto/chainer-fast-neuralstyle">chainer-fast-neuralstyle</a>
                    </h5>
                    <br>
                    <br>
                    <br>

                </div>
        </aside>
        <div class="container-fluid">
            <div class="container text-center">
                <br>
                <br>
                <h2 class="marker-text">Projects</h2>
                <br>
            </div>
            <div class="container text-center">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="img/software/slitscans/train_width_720.gif" height="300px" width="100%"
                                     alt="">
                            </div>
                            <div class="col-sm-6">
                                <img src="img/software/slitscans/train_height_720.gif" height="300px" width="100%"
                                     alt="">
                            </div>
                        </div>

                        <h4 class="text-center">
                            <br>
                            <a href="https://github.com/Pantsworth/slit_scanner_darkly">SlitScannr</a>

                        </h4>
                        <p class="text-center">

                            Created for EECS 395: Computational Photography Seminar. A easy-to-use realization of a
                            complex
                            imaging technique in which
                            each vertical column of pixels in the image represents the same place, at a different time.

                        </p>
                    </div>
                </div>
                <br>
                <div class="col-sm-12">
                    <div class="card">
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/Yhy1uc9s8IU"
                                frameborder="0"
                                allow="autoplay; encrypted-media"
                                allowfullscreen></iframe>
                        <p>
                        <h4>
                            <a href="https://github.com/Pantsworth/temporal-median-video">Temporal Median Video</a>
                        </h4>
                        Python program for processing a temporal median filter effect across a set of frames from a
                        video.

                        </p>
                    </div>
                </div>
                <br>
                <div class="col-sm-12">
                    <div class="card">
                        <br>
                        <h4>
                            <a href="https://github.com/Pantsworth/flask-mongo-boilerplate">Flask + MongoDB Boilerplate
                                WebApp</a>

                        </h4>
                        <p>


                            A quick web application designed to make it easy to build a quick and responsive application
                            using Flask and MongoDB, hosted
                            on Heroku. It's intended as boilerplate code for quickly developing cool features on the
                            front
                            or backend, without having to worry about how to make them communicate (unless you want
                            sockets.
                            I might do a version with sockets soon). Uses Flask, Flask-Restful, MongoDB, Heroku, and
                            some
                            of the fun new Javascript data collection APIs. Also the least pretty frontend of all time.
                        </p>
                    </div>
                </div>

                <br>
                <div class="row">


                    <div class="col-sm-6">
                        <div class="card">
                            <img src="img/software_small/souschefbot.jpg" width="100%" alt="">
                            <h4>SousChefBot
                            </h4>
                            <p>
                                A demo of a recipe website featuring Alexa-esque voice commands. Used
                                <a href="https://wit.ai/">wit.ai API</a>
                                and
                                <a href="https://www.talater.com/annyang/">annyang</a>. Built as part of a
                                Human-Computer
                                Interaction class.
                            </p>
                            <br>
                            <br>
                            <br>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="card">
                            <img src="img/software_small/gone_by_dawn.jpg" width="100%" alt="">
                            <h4>
                                Gone By Dawn
                            </h4>
                            <p>

                                Team project for EECS 370: Game Design. A fast-paced top-down multiplayer game about
                                graverobbing. Developed on a 4-person
                                team as part of a Northwestern Game Design class. I focused on UI development,
                                animation,
                                and aesthetics – all the visuals in the game were created using stopmotion animation on
                                real
                                clay objects, which were later converted to sprites for Unity.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                    </div>
                </div>

            </div>
            <br>
            <br>
            <br>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}