{% extends "base.html" %}
{% block head %}
    {{ super() }}
    {% block title %}{{ name.capitalize()  }}{% endblock %}
{% endblock %}
{% block body %}
    {{ super() }}
    <div style="padding-top: 60px; padding-bottom: 0.5%" id="buttons" class="d-flex justify-content-center">
    </div>

    <div class="row" id="links">
        <div class="column" id="column0">
        </div>
        <div class="column" id="column1">
        </div>
        <div class="column" id="column2">
        </div>
        <div class="column" id="column3">
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>

        const album_name_map = {{ album_config | tojson }};      

        const album_name_map_keys = Object.keys(album_name_map);
        const button_div = $('#buttons');

        for (let i = 0; i < album_name_map_keys.length; i++) {
            let new_button = $('<button>')
                .attr("id", album_name_map_keys[i])
                .attr('type', 'button')
                .attr('class', `pointer btn-outline-dark marker-text`)
                .attr('onclick', `load_photos("${album_name_map_keys[i]}")`).text(album_name_map_keys[i]);
            new_button.innerText = album_name_map_keys[i];
            new_button.appendTo(button_div);
        }

        function load_photos(album_name) {
            if (!album_name_map[album_name]) {
                throw Error("no album with name: ", album_name);
            }
            set_selected_button(album_name);

            
            const column_map = {
                0: $('#column0'),
                1: $('#column1'),
                2: $('#column2'),
                3: $('#column3')
            };

            for (column of Object.keys(column_map)) {
                column_map[column].empty();
            }

            // put each of the images into a column
            $.each(album_name_map[album_name].images, function (index, photo) {
                let index_mod = index % 4;
                let new_image = $("<div>").attr('class', 'grid-item').append(
                    $('<a/>').append($('<img width="100%;">').prop('src', photo.replace(".jpg", "_thumb.jpg").replace(".png", "_thumb.png")))
                        .prop('href', photo)
                        .attr('class', 'lightbox-image')
                        .attr('data-lightbox', photo.id));
                new_image.appendTo(column_map[index_mod]);
            });
            
            // make lightboxes
            const lightbox = $('.lightbox-image').simpleLightbox(
                {
                    'animationSpeed': 100,
                    'animationSlide': false
                }
            );
        }

        function set_selected_button(album_name) {
            const album_name_map_keys = Object.keys(album_name_map);
            for (let i = 0; i < album_name_map_keys.length; i++) {
                let button_to_update = $(`#${album_name_map_keys[i]}`);
                if (album_name_map_keys[i] == album_name) {
                    button_to_update.removeClass("btn-outline-dark");
                    button_to_update.addClass("btn-dark");
                } else {
                    button_to_update.removeClass("btn-dark");
                    button_to_update.addClass("btn-outline-dark");
                }
            }
        }

        load_photos("Places");

    </script>
{% endblock %}